body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333333;
    padding-top: 100px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header .logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.jumbotron {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-section {
    margin-top: 20px;
}

.info-section h2 {
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Diseño de dos columnas */
    gap: 20px;
    margin-top: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 450px; /* Establecer una altura consistente */
    text-align: center;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.feature-image {
    width: 250px; /* Ancho fijo */
    height: 200px; /* Altura fija */
    object-fit: cover; /* Asegurar que la imagen cubra el área sin distorsión */
    border-radius: 10px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #16a085;
}

.feature p {
    font-size: 1.1rem;
    color: #555555;
    line-height: 1.5;
    margin-top: auto; /* Asegura que el texto se alinee al final del contenedor */
}

.why-choose-us h2 {
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
    margin-bottom: 20px;
}

.why-choose-us ul {
    list-style: disc;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
}

.why-choose-us li {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.call-to-action {
    text-align: center;
    margin-top: 40px;
}

.call-to-action h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action-buttons .btn {
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    font-weight: bold;
}

.btn-secondary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-primary {
    margin-top: 30px;
}
