/* styles.css */

/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo claro */
    color: #333333; /* Texto principal oscuro */
    padding-top: 200px; /* Aumenta este valor para crear más espacio entre el contenido y el header */
    padding-bottom: 80px; /* Agrega espacio entre el contenido y el footer */
}

/* Aseguramos que el contenido no quede debajo del header si es fijo */
body {
    margin-top: 200px; /* Este valor debe coincidir con el padding-top para evitar solapamiento */
    margin-bottom: 80px;
}

/* Estilos para la sección principal */
.hero-seccion {
    background: linear-gradient(to bottom, #1abc9c, #16a085); /* Degradado atractivo */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    padding: 120px 20px; /* Aumenta el padding si quieres más espacio al inicio de la sección principal */
    border-radius: 0 0 20px 20px;
    margin-bottom: 80px;
}

.hero-seccion h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-seccion p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.boton-cta {
    background-color: #ffffff; /* Fondo blanco */
    color: #16a085; /* Texto verde */
    padding: 15px 40px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.boton-cta:hover {
    background-color: #16a085; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .hero-seccion h1 {
        font-size: 2em;
    }

    .hero-seccion p {
        font-size: 1em;
    }

    .navegacion ul {
        flex-direction: column;
        gap: 10px;
    }
}

/* Estilos generales para las tablas */
table {
    width: 100%;
    border-collapse: collapse; /* Para que las celdas no tengan separación */
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; /* Borde sutil */
}

th {
    background-color: #2c3e50; /* Fondo oscuro para los encabezados */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Fila alterna con fondo claro */
}

tr:hover {
    background-color: #f9f9f9; /* Fondo más claro cuando se pasa el mouse */
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

/* Estilo para los botones en las vistas de detalle */
.usuario-view .btn {
    margin-top: 10px;
    margin-right: 10px;
}

/* Botones específicos */
.btn-danger {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}